/*--table--*/
.items {
	width: 540px;
	display: table;
}
.lineup_img, .lineup_btn {
	width: 130px;
	display: table-cell;
 	vertical-align: middle;
	text-align: center;
 	border: solid 1px #000000;
}
.lineup {
	width: auto;
	height: auto;
	display: table-cell;
 	vertical-align: middle;
	text-align: center;
 	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
}